.margin {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}

.margin-shorthand {
    margin: 100px 150px 100px 80px;
    background-color: lightblue;
}